{% extends "base.html" %}
{% block content %}

<form action="/meals/{{meal.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{meals.name}}" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{meals.description}}" required autofocus>
  </div>

  <div>
    <label for="cost_price">Cost Price:</label>
    <input type="number" id="cost_price" name="cost_price" value="{{menus.cost_price}}" required autofocus>
  </div>

  <div>
    <label for="selling_price">Selling Price:</label>
    <input type="number" id="selling_price" name="selling" value="{{menus.selling_price}}" required autofocus>
  </div>

  <div>
    <label for="qty_available">Qty Available:</label>
    <input type="number" id="qty_available" name="qty_available" value="{{menus.qty_available}}" required autofocus>
  </div>

  <div>
    <label for="qty_sold">Qty Sold:</label>
    <input type="number" id="qty_sold" name="qty_sold" value="{{menus.qty_sold}}" required autofocus>
  </div>

  <button type="submit">Update Meal</button>

</form>

{% endblock %}
