body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  body > header{
    background-color: #212324;
    padding: 10px;
}

#menu{
    display: flex;
    color: white;
    padding: 5px;
    justify-content: center;
}

#menu > li{
    list-style: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
}

#menu > li > a, a:visited{
    text-decoration: none;
    color: white;
}

#menu > li > a:hover{
    text-decoration: none;
    color: blue;
}

#content{
    margin-top: 80px;
    text-align: center;
}

#manager_form{
    margin-top: 50px;
    column-gap: 10px;
    columns: 100px 3;
    display: inline-block;
}