body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  body > header{
    background-color: #212324;
    padding: 10px;
}

#menu{
    display: flex;
    color: white;
    padding: 5px;
    justify-content: center;
}

#menu > li{
    list-style: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
}

#menu > li > a, a:visited{
    text-decoration: none;
    color: white;
}

#menu > li > a:hover{
    text-decoration: none;
    color: blue;
}

#content{
    margin-top: 60px;
    text-align: center;
}

#manager_form > th, td {
    border: 2px solid black;
    display: inline table;
    padding: 5px;
    vertical-align: middle
}

#manager_form{
    justify-content: center;
    table-layout: auto;
}

#order_button{
    background-color: #e03838;
    color: white;
}

#edit_button{
    background-color: rgb(78, 121, 240);
    color: white;
    justify-content: center;
}

#edit_form{
    justify-content: center;
    align-content: center;
}