{% extends 'base.html'%}

{% block content %}
<h1>Manager App</h1>

<p>Track your stock inventory</p>
<p>Enter how many of each dish is available in stock</p>

<form>
<div>
    <!-- thought maybe it was a capital to call the class below; doesnt work -->
    <p>{{meal.name}}</p>
    <hr>
    <p>{{meal.description}}</p>
    <p>{{meal.cost_price}}</p>
    <p>{{meal.selling_price}}</p>
    <p>{{meal.qty_available}}</p>
    <p>{{meal.qty_sold}}</p>
    <p>{{meal.id}}</p>
  </div>
</form>
{% endblock %}

<!-- <ul id="manager_form">
<form action="/manager" method="POST">
    <div>
        <label for="beef_meal">Beef Meal</label><br><br>
        <input type="number" value="enter stock qty" name="beef_meal" id="beef_meal"><br><br>
        <input type="submit" value="Update" id = "update_button">
    </div>
    <div>
        <label for="chicken_meal">Chicken Meal</label><br><br>
        <input type="number" value="enter stock qty" name="chicken_meal" id="chicken_meal"><br><br>
        <input type="submit" value="Update" id = "update_button">
    </div>
    <div>
        <label for="fish_meal">Fish Meal</label><br><br>
        <input type="number" value="enter stock qty" name="fish_meal" id="fish_meal"><br><br>
        <input type="submit" value="Update" id = "update_button">
    </div>
</form>
</ul>
</form> -->