{% extends 'base.html'%}

{% block content %}
<h1>Manager App</h1>

<p>Track your stock inventory</p>

<ul id="manager_form">
<form action="/manager" method="POST">
    <div>
        <label for="beef_meal">Beef Meal</label><br><br>
        <input type="text" value="enter stock qty" name="beef_meal" id="beef_meal"><br><br>
        <input type="submit" value="Update">
    </div>
    <div>
        <label for="chicken_meal">Chicken Meal</label><br><br>
        <input type="text" value="enter stock qty" name="chicken_meal" id="chicken_meal"><br><br>
        <input type="submit" value="Update">
    </div>
    <div>
        <label for="fish_meal">Fish Meal</label><br><br>
        <input type="text" value="enter stock qty" name="fish_meal" id="fish_meal"><br><br>
        <input type="submit" value="Update">
    </div>
</form>
</ul>


</form>
{% endblock %}


<!-- <form name="game_choices" id="game_choices">
    <label for="ROCK">ROCK</label>
    <input type="radio" value="Rock" id="ROCK" name="choice"><br><br>
    <label for="PAPER">PAPER</label>
    <input type="radio" value="Paper" id="PAPER" name="choice"><br><br>
    <label for="SCISSORS">SCISSORS</label>
    <input type="radio" value="Scissors" id="Scissors" name="choice"><br><br>
    <input type="submit" value="Submit">
  </form> -->