{% extends 'base.html'%}

{% block content %}
<h1>All Meals</h1>

<!-- <p>Lists all the meals in the meal table database</p> -->
<p>Select how many of each dish you would like, then press 'Order'</p>


<form action="/meals" method="POST">
    <div>
    <ul id="server_form">
    <table>
        <thead>
        <tr>
            <th>Meal</th>
            <th>Meal Price</th>
            <th>Qty Available</th>
            <th>Order Qty</th>
            <br>
            <th>Inform Customer</th>
        </thead>
        <tbody>
        {% for meal in meals %}
        {% if meal.qty_available >0 %}
        <tr><td bgcolor='lightgrey'>{{meal.description}}</td>
            <td>{{meal.selling_price}}</td>
            <td>{{meal.qty_available}}</td>
            <td bgcolor='lightseagreen'><a id="new_order_button" href="/meals/{{meal.id}}/order">Order 1</a></td>

            {% if meal.qty_available == 2 %}
                <td bgcolor='yellow'>RUNNING LOW</td>
            {% elif meal.qty_available == 1 %}
                <td bgcolor='orange'>LAST ONE</td>
            <!-- {% elif meal.qty_available == 0 %}
                <td bgcolor='red'>INFORM CUSTOMER OUT OF STOCK</td> -->
            {% endif %}
        {% endif %}
        </tr>
            {% endfor %}
        </tbody> 
    </ul>
    </table>
    </div>
    </form>
<!-- <a href="/meals/order_page"><button type="submit" id="new_order_button">Add New Order</button></a> -->

<!-- <br>
<div>
    <form action="/meals/new_order" name="all_meals" method="POST">
        {% for meal in meals %}
        <option name="order" value="{{ meal.id }}" {% if meal.id == meal.id %} selected="selected"{% endif %}>{{ meal.description }}</option>
        <input name="qty" type="number"><br><br>
        {% endfor %}
        <input type="submit" value="Order" id="order_button">
    </select>
</form>
</div> -->

{% endblock %}